{{ form_start(form) }}
   {#  {{ form_widget(form) }} #}

     {{ form_row(form.nombre, {'label': 'Nombre'}) }}    
     {{ form_row(form.tratamientos, {'label': 'Tratamientos'}) }}    


    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
